@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

/* Main-Container */

.main-container {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

/* Sidebar */

.sidebar {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  padding: 5px 15px;

  transition: all 0.4s ease;

  background: #f5f8ff;
}

.logospace {
  font-size: 26px;
  font-weight: 800;

  padding: 20px;

  text-align: center;
}

.nav-items {
  height: 70%;
}

.nav-item {
  display: flex;
  flex-direction: row;

  margin: 10px 0px;
  padding: 12px 25px;

  transition: ease-in-out 0.1s;
  text-decoration: none;

  color: #000;
  border-radius: 8px;
}

.nav-item:hover {
  cursor: pointer;

  opacity: .5;
}

.active {
  color: #fff;
  background: #000;
}

.nav-item-name {
  margin-left: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  height: 30%;
  padding: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
}

.profile-picture img {
  width: 100px;
  height: 100px;

  border-radius: 100px;

  object-fit: cover;
}

.user-fname {
  font-size: 20px;
  font-weight: 600;
}

.user-uname,
.user-email {
  font-size: 16px;

  color: gray;
}

/* Rightbar */

.rightbar {
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
}

.form-space {
  height: 65%;
  padding: 10px 20px 20px;

  border-bottom: 1px #DDDDDD solid;
  background-color: #f5f8ff;
}

.progress-space {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  height: 35%;
  padding: 20px;

  background-color: #f5f8ff;
}

/* Content */

.content {
  left: 300px;

  width: calc(100% - 600px);
}

/* Page Headers */

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 20px;

  border-bottom: 1px #dddddd solid;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
}

/* Task Card */

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 5px;
  padding: 20px;

  border-radius: 8px;
  background-color: #d3e6ff;
}

.task-details {
  display: flex;
  flex-direction: column;

  margin-left: 20px;
}

.task-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-option {
  cursor: pointer;
}

.task-title {
  font-size: 18px;
  font-weight: 600;
}

.task-due,
.task-rem {
  font-size: 12px;

  color: gray;
}
